@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    background-color: rgb(182, 238, 248);
    font-family: "Crimson Text", sans-serif;
}

.navbar {
    background-color: white;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000');
}

.text-center {
    margin-bottom: 0px;
}

.image-1,
.image-2,
.image-3 {
    max-width: 100%;

}

.btn-toolbar {
    text-align: center;
}

/*to create space between icon and button name*/
span {
    padding-right: 10px;
}

.button-1,
.button-2,
.button-3 {
    display: inline-block;
    margin: 20px;
    align-items: center;
}



.container.form.text-center {
    max-width: 80%;
    padding-top: 15px;
}



.form-button {
    padding: 15px;
}

div#footer.card {
    background-color: rgb(123, 240, 201);
}


/*footer title   */
div.text-center h6 {
    text-transform: uppercase;
    margin: 0;
    color: rgb(91, 91, 253);

}

footer ul {
    padding: 0px;
    margin-bottom: 0px;
}

footer ul li {
    display: inline-block;
    margin: 20px;
}

div.container {
    padding: 15px;
}

#map {
    height: 400px;
    width: 100%;
}

/*Media Queries*/
@media screen and (max-width: 767px) {
    .container.form.text-center {
        max-width: 100%;
    }

    div.text-center.image-1 {
        margin-top: 57px;
    }


}